@page "/"

<PageTitle>BARI</PageTitle>

<section class="space-y-2">
    <h1 class="mb-2">BARI - Administrador de Inventarios</h1>
    <p class="text-muted">Seleccione una sección para comenzar.</p>

    <ul class="list-group">
        <li class="list-group-item">
            <NavLink href="/cas">📘 Librería de CAS (Chemical Abstract Service)</NavLink>
        </li>
        <li class="list-group-item">
            <NavLink href="/pictogramas">⚠️ Librería de Pictogramas</NavLink>
        </li>
        <li class="list-group-item">
            <NavLink href="/hcodes">🔥 Librería de H-Codes (Frases de Peligro)</NavLink>
        </li>
        <li class="list-group-item">
            <NavLink href="/pcodes">🛡️ Librería de P-Codes (Consejos de Prudencia)</NavLink>
        </li>
        <li class="list-group-item">
            <NavLink href="/areas">🏷️ Áreas del Laboratorio de Química</NavLink>
        </li>
        <li class="list-group-item">
            <NavLink href="/equipos">🧰 Listado de Equipos</NavLink>
        </li>
        <li class="list-group-item">
            <NavLink href="/reactivos">🧪 Listado de Reactivos</NavLink>
        </li>
        <li class="list-group-item">
            <NavLink href="/laboratorios">🏫 Información de Laboratorios y Experiencias</NavLink>
        </li>
        <li class="list-group-item">
            <NavLink href="/bari-bot">🤖 Consulta a BARI - bot</NavLink>
        </li>
    </ul>
</section>
